<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
  <h1>勤怠管理システム</h1>
</div>
<hr width="300"/>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;font-size: 25px;">
  <div id="now_year"></div>
  <div id="now_month_day"></div>
  <div id="now_time"></div>
</div>
<hr width="300"/>
<div style="text-align: center; margin-top: 50px;">
  <button class="square_btn_s">出勤</button>
  <button class="square_btn_e">退勤</button>
</div>